.container {
    min-height: 100vh;
    background-color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0 0;
}

.titleContainer h3 {
    color: var(--main-color);
    font-weight: 700;
    margin: 110px 0 69px 0;
    font-size: 42px;
}

.systemContainer {
    display: flex;
    flex-direction: column;
    width: 1034px;
    height: 324px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
    max-width: 1440px;
}

.systemContainer h3 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 40px;
    width: 90%;
    padding: 25px 0;
    border-bottom: solid;
}


.systemInfoContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.systemInfoContainer p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.systemInfoContainer ul {
    padding: 10px 20px 40px
}

.equipmentContainer {
    display: flex;
    flex-direction: column;
    width: 1034px;
    height: 324px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
    max-width: 1440px;
}

.equipmentContainer h3 {
    color: var(--main-color);
    font-weight: 700;
    font-size: 40px;
    width: 90%;
    padding: 25px 0;
    border-bottom: solid;
}


.equipmentInfoContainer {
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.equipmentInfoContainer p {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

.equipmentInfoContainer ul {
    padding: 10px 20px 40px
}

.wrapper {
    display: flex;
    justify-content: center;
    width: 1032px;
    max-width: 1440px;
}

.simulatorContainer {
    display: flex;
    flex-direction: column;
    width: 492px;
    height: 346px;
    /*justify-content: center;*/
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;
    margin-right: 50px;
}

.simulatorContainer h3 {
    height: 175px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 39px;
    width: 80%;
    padding: 26px 0 8px 0;
    border-bottom: solid;
    line-height: 40px;
}

.simulatorContainer ul {
    padding: 10px 20px 40px;
    align-items: unset;
    width: 85%;
}

.simulatorIconWrapper {
    display: flex;
    justify-content: space-between;
}

.simulatorContainer li {
    list-style: none;
    font-weight: bold;
    padding: 10px 0 10px 0;
}

.info {
    width: 250px;
    min-height: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

.filesContainer {
    display: flex;
    flex-direction: column;
    width: 492px;
    height: 346px;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    -webkit-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -1px 8px 2px rgba(34, 60, 80, 0.2);
    margin-bottom: 30px;

}

.filesInfo {
    padding: 10px 20px 40px;
    align-items: unset;
    width: 85%;
}

.filesContainer h3 {
    height: 150px;
    color: var(--main-color);
    font-weight: 700;
    font-size: 39px;
    width: 80%;
    padding: 20px 0 22px 0;
    border-bottom: solid;
    line-height: 42px;
    margin-top: 6px;
}

.filesContainer p, .filesContainer span {
    font-size: 20px;
}

.questionsTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0;
}

.questionsTitle h3 {
    font-weight: 700;
    color: var(--main-color);
    font-size: 42px;
    text-align: center;
}

.questionsContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin: 30px;
}

.questionItem {
    width: 80%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.questionItem p {
    font-weight: 600;
    font-size: 30px;
}

#plusIcon {
    font-size: 30px;
    color: var(--main-color);
}

.answerShow {
    display: block;
}

.answerHidden {
    display: none;
}

#answerTitle {
    font-weight: 350;
    color: var(--main-color);
    margin: 15px 0;
}

#answerInfo {
    font-weight: 350;
    color: black;
    margin: 15px 0;
}

.answerShow ul {
    font-weight: 350;
    color: black;
    margin: 15px 0;
}

.answerShow ul li {
    list-style: none;
    margin: 15px 0;
}

.helpFooter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: 30px 0 50px 0;
}

.helpFooter h3 {
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
    max-width: 1440px;
    font-size: 30px;
}

.helpFooter span {
    color: var(--main-color);
    font-weight: 700;
    font-size: 30px;
}

li {
    font-size: 20px;
}

@media screen and (max-width: 1440px) {
    .systemContainer, .equipmentContainer, .wrapper {
        width: 900px;
        height: 361px;
    }

    .simulatorContainer h3 {
        height: 199px;
    }

    .filesContainer, .simulatorContainer {
        height: 420px;
    }

    .filesContainer h3 {
        height: 140px;
        line-height: 42px;
        padding: 0;
        margin-top: 50px;
    }
    .questionsTitle{
        margin: 170px 0 0 0;
    }
}

@media screen and (max-width: 1020px) {
    .titleContainer h3 {
        margin: 80px 0 30px 0;
    }

    .systemContainer, .equipmentContainer {
        height: auto;
        width: 90%;
    }
    .systemInfoContainer, .equipmentInfoContainer {
        flex-direction: column;
        padding: 0;

    }
    .equipmentContainer{
        margin-bottom: 6px;
    }
.simulatorContainer{
    width: 100%;
}
.filesContainer{
    width: 100%;
}
    .wrapper {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-top: 154px;
    }

    .simulatorContainer h3, .filesContainer h3 {
        height: auto;
        line-height: 42px;
    }

    .simulatorContainer {
        margin-right: 0;
    }
}

@media screen and (max-width: 866px) {
    .equipmentContainer{
        margin-bottom: 14px;
    }
}
@media screen and (max-width: 852px) {
    .equipmentContainer{
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 811px) {
    .equipmentContainer{
        margin-bottom: 48px;
    }
}
@media screen and (max-width: 760px) {
    .systemContainer h3, .equipmentContainer h3{
        font-size: 15px;
        width: 90%;
        /* line-height: 20px; */
        white-space: nowrap;
    }
    .simulatorContainer h3, .filesContainer h3{
        font-size: 15px;
           line-height: 20px;
        width: 90%;
    }
    .equipmentContainer{
        margin-bottom: 6px;
    }
    .systemContainer p, .systemContainer li, .equipmentContainer p, .equipmentContainer li, .simulatorContainer li, .filesContainer p, .filesContainer span{
        font-size: 10px;
    }
    .wrapper {
        margin-top: 40px;
    }
    .questionsTitle{
        margin: 170px 0 0 0;
    }
    .questionsTitle h3{
        font-size: 32px;
    }
    .helpFooter h3{
        font-size: 20px;
    }
    .helpFooter span{
        font-size: 25px;
    }
    .filesContainer h3{
        margin-top: 25px;
    }
    .systemInfoContainer ul, .equipmentInfoContainer ul {
        padding: 10px 20px 10px;
    }
    .simulatorContainer ul{
        width: 97%;
    }
    .filesInfo{
        width: 97%;
    }
    
.titleContainer h3 {
    font-size: 32px;
    margin: 40px 0 40px 0;
}
}
/* @media screen and (max-width: 683px) {
    .equipmentContainer{
        margin-bottom: 16px;
    }
}
@media screen and (max-width: 590px) {
    .wrapper{
        margin-top: 82px;
    }
    .equipmentContainer{
        margin-bottom: -6px;
    }
}
@media screen and (max-width: 562px) {
    .equipmentContainer{
        margin-bottom: 15px;
    }
}
@media screen and (max-width: 547px){
    .wrapper{
        margin-top: 105px;
    }
    .equipmentContainer{
        margin-bottom: -9px;
    }
}
@media screen and (max-width: 526px){
    .equipmentContainer{
        margin-bottom: 13px;
    }
}
@media screen and (max-width: 455px){
    .wrapper{
        margin-top: 135px;
    }
    .equipmentContainer{
        margin-bottom: -17px;
    }
}
@media screen and (max-width: 401px){
    .equipmentContainer{
        margin-bottom: -7px;
    }
}
@media screen and (max-width: 395px){
    .equipmentContainer{
        margin-bottom: -3px;
    }
}
@media screen and (max-width: 360px){
    .equipmentContainer{
        margin-bottom: 13px;
    }
}*/
@media screen and (max-width: 372px){
    .wrapper{
        margin-top: 80px;
    }
} 