.container {
    background-image: url("../../../assets/image/bg-image3.webp");
    background-size: cover;
    background-position: center;
    height: 86vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 571px;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 120%;
    max-width: 1440px;
    justify-content: end;
    align-items: center;
}
.formContainer {
    -webkit-backdrop-filter: blur(15px) saturate(120%);
    backdrop-filter: blur(15px) saturate(120%);
    border-radius: 15px;
    margin-right: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 551px;
    width: 541px;
    position: relative;
    right: 22px;
}
.formTitle{
    margin: 0 0 20px 0;
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}
.formTitle h4{
    font-size: 50px;
    margin-bottom: 10px;
    color: var(--text-color);
    font-variation-settings: 'wght' 700 , 'wdth' 75;
    position: relative;
    top: 16px;
}
.formTitle :nth-child(2){
    top: 23px;
    left: 1px;
}
.formTitle :nth-child(4){
    top: 3px;
    left: 1px;
}
.formTitle span{
    font-size: 20px;
    position: relative;
    color: var(--text-color);
    font-variation-settings: 'wght' 300 , 'wdth' 88;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form input{
    width: 441px;
    height: 50px;
    border-radius: 8px;
    padding: 17px 21px 15px 21px;
    margin: 10px 0;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    color: #bcb9b9;
    font-size: 15px;
}
.form :nth-child(1){
    position: relative;
    top: 12px;
}
.form :nth-child(2){ 
    position: relative;
    top: 2px;
}
.form :nth-child(3){  
    position: relative;
    top: -8px;
}
.form textarea{
    width: 441px;
    height: 80px;
    border-radius: 8px;
    padding: 15px;
    resize: none;
    margin: 10px 0;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    font-size: 15px;
}
.btn{
    width: 441px;
    height: 50px;
    border-radius: 10px;
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px 0;
    position: relative;
    bottom: 9px;
    transition: ease .4s;
}
.btn:hover{
    transform: translateY(1px);
    -webkit-box-shadow: 0px 0px 23px -10px rgb(3, 10, 31) inset;
    -moz-box-shadow: 0px 0px 23px -10px rgba(3, 10, 31) inset;
    box-shadow: 0px 0px 23px -10px rgba(3, 10, 31) inset;
}
@media screen and (max-width: 1439px) {
    .wrapper{
        justify-content: center;
        align-items: center;
    }
    .container{
        height: 107vh;
    }
    .formContainer{
        right: 0;
       margin-right: 0;
    }
}
@media screen and (max-width: 767px){
    .formContainer{
    width: 100%;
    height: 84%;
    border-radius: 0;
   }
   .formTitle h4{
    font-size: 30px;
   }
   .formTitle span{
    font-size: 15px;
    white-space: nowrap;
   }
   .form input{
    width: 310px;
   }
   .form textarea{
    width: 310px;   
   }
   .btn{
    width: 310px;
   }
}

/* @media screen and (max-width: 1200px){
    .form input, .form textarea{
        padding: 8px;
    }
}
@media screen and (max-width: 960px){
    .container{
        justify-content: center;
    }
    .formContainer{
        width: 80%;
        height: 70%;
        margin-right: 0;
    }
    .wrapper {
        justify-content: center;
    }
}
@media screen and (max-width: 760px){
    .formContainer{
        min-height: 84%;
        min-width: 100%;
        border-radius: 0;
        margin-right: 0;
    }
    .form input, .form textarea{
        padding: 8px;
    }
    .formTitle{
        padding: 0 10px;
    }
    .formTitle h4{
        font-size: 30px;
    }
    .formTitle span{
        font-size: 15px;
    }
.form input{
    width: 310px;
    height: 50px;
}
.form textarea {
    width: 310px;
    height: 80px;
}
.btn {
    width: 310px;
    height: 50px;
    font-size: 24px;
}
} */
