.container{

}

.title{
    top: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 80px;
    padding: 0 20px 0 20px;
}
.title h3{
    color: var(--text-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}
.routesContainer{
    display: grid;
    grid-template-columns: repeat(3,410px);
    text-align: center;
    grid-template-rows: repeat(2, 394px);
    flex-wrap: wrap;
    padding: 40px;
}
.wrapper{
    max-width: 1440px;
}
.staticItem{
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.staticItem p{
    margin-top: 40%;
    font-size: 40px;
    font-weight: 700;
    z-index: 1;
}
.staticItem span{
    font-size: 40px;
    color: rgba(253, 89, 0, 1);
    font-weight: 700;
    z-index: 1;
}




@media screen and (max-width: 1320px) {
    .routesContainer{
        grid-template-columns: repeat(3,345px);
        grid-template-rows: repeat(2, 329px);
    }
    .staticItem p, .staticItem span{
        font-size: 30px;
    }
    .staticItem p {
        margin-top: 10%;
    }

}
@media screen and (max-width: 1116px) {
    .routesContainer{
        grid-template-columns: repeat(3,315px);
        grid-template-rows: repeat(2, 299px);
    }
}
@media screen and (max-width: 1030px) {
    .routesContainer{
        grid-template-columns: repeat(3,232px);
        grid-template-rows: repeat(2, 212px);
    }
    .staticItem p, .staticItem span{
        font-size: 20px;
    }
    .staticItem p {
        margin-top: 34%;
    }

}
@media screen and (max-width: 760px) {
    .title {
        margin-top: 50px;
    }
    .title h3{
        font-size: 42px;
    }
    .routesContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        padding: 0 40px;
        width: 100vw;
    }
    .wrapper{
        background-color: #FFFFFF;
    }
}
/* static item fonts media*/














