
.container{
    /*height: 60vh;*/
    background-color: #111F28;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 276px;
}
.wrapper{
    width: 100%;
    height: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.col1, .col2, .col3, .col4{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 25%;
    line-height: 30px;
}

.col1 span{
    color: var(--main-color);
    font-variation-settings: 'wght' 700 , 'wdth' 75;
    line-height: 55px;
    font-size: 60px;
    position: relative;
    right: 57px;
    top: -42px;
}
.col2 a{
    font-variation-settings: 'wght' 600 , 'wdth' 75;
    color: var(--text-color);
    font-size: 20px;
    margin: 3px 0;
    position: relative;
    top: -37px;
    right: 89px;
}
.col3 a{
    font-variation-settings: 'wght' 300 , 'wdth' 75;
    color: var(--text-color);
    font-size: 20px;
    margin: 0px 0;
    position: relative;
    top: -37px;
    right: 99px;
    line-height: 37px;
}

.col4 p{
    font-weight: 600;
    color: var(--main-color);
    font-size: 20px;
    margin: 3px 0;
    font-variation-settings: 'wght' 600 , 'wdth' 75;
    position: relative;
    left: 17px;
    top: -37px;
}
.col4 span{
    color: var(--text-color);
    font-weight: 600;
    font-size: 20px;
    margin: 3px 0;
    font-variation-settings: 'wght' 300 , 'wdth' 75;
    position: relative;
    left: 18px;
    top: -37px;
}
.mobileCol{
    display: none;
}
.mobileCol p {
    font-weight: 600;
    color: var(--main-color);
}
.mobileCol span{
    font-weight: 350;
    color: var(--text-color);
 }
.executor {
    color: white;
    /* max-width: 654px; */
    position: relative;
    right: 56px;
    top: -36px;
    /* left: 2px; */
    /* text-align: center; */
    /* border: solid red; */
    display: flex;
    flex-direction: column;
}
 .executor_text{
    color: white !important;
    font-variation-settings: 'wght' 600 !important;
    font-size: 14px !important;
    top: 18px !important;
    right: 0 !important;
    line-height: 2 !important;
 }
 .executor_mob {
    color: white;
    width: 100%;
    position: absolute;
    /* right: 20%; */
    top: 198px;
    /* left: 2px; */
    text-align: center;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .executor_text_mob{
    color: white !important;
    font-variation-settings: 'wght' 600 !important;
    font-size: 14px !important;
    top: 18px !important;
    right: 0 !important;
    line-height: 2 !important;
 }
@media screen and (max-width: 1439px) {
    .executor_text {
        font-size: 12px !important;
    }
    .executor{
        top: -52px;
        right: 52px;
    }
    .wrapper{
        width: 668px;
    }
    .container{
        height: 241px;
    }
    .col1 span{
    font-size: 35px;
    top: -48px;
    right: 52px;
    }
    .col2 a{
        font-size: 15px;
        right: 32px;
        line-height: 23px;
        top: -35px;
    }
    .col3 a{
        font-size: 15px;
        top: -36px;
        line-height: 31px;
        right: 25px;
    }
    .col4 p {
        font-size: 15px;
        left: 17px;
        top: -40px;
    }
    .col4 span{
        font-size: 13px;
        left: 17px;
        top: -47px;
        line-height: 14px;
    }
} 


@media screen and (max-width: 767px) {
    .executor_mob{
        display: flex;

    }
    .container{
        height: 338px;
        position: relative;
    }
    .col1 span{
        font-size: 35px;
        top: -75px;
        right: 5px;
    }
    .mobileCol {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 25%;
        position: relative;
        bottom: 20px;
    } 
    .mobileCol p {
        color: var(--main-color);
        font-size: 15px;
        margin: 3px 0;
        font-variation-settings: 'wght' 600 , 'wdth' 75;
        position: relative;
        left: -5px;
        top: -52px;
    }
    .mobileCol span {
        color: var(--text-color);
        font-size: 13px;
        margin: 3px 0;
        font-variation-settings: 'wght' 300 , 'wdth' 75;
        position: relative;
        left: 17px;
        top: -37px;
    }
    .mobileCol :nth-child(2){
        left: -6px;
        top: -79px;
    }
    .mobileCol :nth-child(3){
        left: -6px;
    top: -116px;
    }
    .col4{
        display: none;
    }
    .col2 a {
        font-size: 15px;
        right: -11px;
        line-height: 19px;
        top: -66px;
    }
    .col3 a{
        font-size: 15px;
        top: -66px;
        line-height: 25px;
        right: 3px;
    }
    .executor{
        display: none;
    }
}
/* .col1 span{
    line-height: 30px
}
.col3 a, .col2 a{
    margin: 1px 0;
}
    .col4 {
        display: none;
    }
    .mobileCol {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 25%;
    } */


@media screen and (max-width: 960px) {
  
    /* .col4 {
        display: none;
    }
    .mobileCol {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        height: 25%;
    }


    .footerLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 135px;
    } */
}

@media screen and (max-width : 446px) {
    .executor_text_mob{
        font-size: 10px !important;
    }
}