.questionItem{
    width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    margin: 0;
    max-width: 1440px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 36px 0 -29px 0;
}
.questionItem h3{
    font-weight: 600;
    font-size: 30px;
    font-variation-settings: 'wght' 600 , 'wdth' 100;
    position: relative;
    bottom: 20px;
    left: 50px;
}
.withoutLine{
    font-weight: 600;
    font-size: 30px;
    font-variation-settings: 'wght' 600 , 'wdth' 100;
    position: relative;
    bottom: 20px;
    left: 50px;
    border-bottom: none !important;
}
.questionItem p {
    font-weight: 600;
    font-size: 30px;
}
/* #plusIcon{
    font-size: 30px;
    color: var(--main-color);
} */

.closeIcon{
    z-index: 999;
    color: var(--main-color);
    width: 33px;
    cursor: pointer;
    font-size: 31px;
    position: relative;
    bottom: 22px;
    right: 42px;
}
.openIcon{
    color: var(--main-color);
    width: 24px;
    cursor: pointer;
    position: relative;
    bottom: 22px;
    right: 49px;
}
.answerShow{
    display: block;
}
.answerHidden{
    display: none;
}
#answerTitle{
    color: var(--main-color);
    margin: 15px 0;
    font-size: 20px;
    position: relative;
    top: 31px;
    left: 49px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
}
#answerInfo{
    color: black;
    margin: 15px 0;
    font-size: 20px;
    position: relative;
    top: 40px;
    left: 50px;
    font-variation-settings: 'wght' 350 , 'wdth' 85;
    width: 90%;
    position: relative;
    top: 41px;
}
.answerShow ul {
    font-weight: 350;
    color: black;
    margin: 15px 0;
}
.answerShow ul :last-child{
    padding-bottom: 30px;
}
.answerShow ul li{
    list-style: none;
    font-size: 20px;
    position: relative;
    top: 50px;
    left: 50px;
    width: 74%;
}

@media screen and (max-width: 1439px) {
    .questionItem{
        width: 653px;
        border: none;
    }
    .questionItem h3{
        bottom: 164px;
        left: 8px;
        border-bottom: 1px solid rgba(217, 217, 217, 1);
        width: 100%;
        padding-bottom: 20px;
    }
    .withoutLine{
        bottom: 164px;
        left: 8px;
        border-bottom: none;
        width: 100%;
        padding-bottom: 20px;
    }
    .openIcon {        
    bottom: 174px;
    right: 9px;
    }
    .closeIcon{
    bottom: 188px;
    right: 6px;
    }
    #answerTitle{
    top: -131px;
    left: 8px;
    }
    #answerInfo{
    top: -121px;
    left: 8px;
    }
    .answerShow ul li {
        top: -111px;
    left: 8px;
    }
}
@media screen and (max-width: 767px) {
    .questionItem{
        width: 310px;
        border: none;
    }
    
    .questionItem h3{
        font-size: 20px;
        bottom: 214px;
        left: -1px;
    }
    .withoutLine{
        font-size: 20px;
        bottom: 214px;
        left: -1px;
    }
    .openIcon{
        bottom: 228px;
        right: -1px;
        width: 18px;
    }
    .closeIcon{
        bottom: 228px;
        right: -6px;
        width: 25px;
    }
    #answerTitle{
        top: -195px;
        left: 0px;
        font-size: 15px;
    }
    #answerInfo{
        top: -192px;
        left: 0px;
        font-size: 15px;
    }
    .answerShow ul li{
        top: -189px;
        left: 0px;
        font-size: 15px;
        width: 100%;
    }
    .answerShow ul {
        height: 0;
    }
   
}
/* @media screen and (max-width: 3250px) {


    .answerShow ul {
        font-size: 20px;
    }
}
@media screen and (max-width: 1800px) {


    .answerShow ul {
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px) {


    .answerShow ul {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .questionItem p {
        font-size: 20px;
    }
    #answerTitle{
        font-size: 15px;
    }
    #answerInfo{
        font-size: 15px;
    }
    .answerShow ul li{
        font-size: 15px;
    }
} */