.questionItem{
    width: 90%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(217, 217, 217, 1);
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    max-width: 1440px;
}
.question{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}
.questionItem p {
    font-weight: 600;
    font-size: 30px;
}
/* #plusIcon{
    font-size: 30px;
    color: var(--main-color);
} */

.closeIcon{
    color: var(--main-color);   
    transform: rotate(45deg);
    width: 20px;
 
    font-size: 32px;
}
.openIcon{
    color: var(--main-color);   
    width: 20px;
 
    font-size: 32px;
}
.answerShow{
    display: block;
}
.answerHidden{
    display: none;
}
#answerTitle{
    font-weight: 350;
    color: var(--main-color);
    margin: 15px 0;
    font-size: 20px;
}
#answerInfo{
    font-weight: 350;
    color: black;
    margin: 15px 0;
    font-size: 20px;
}
.answerShow ul {
    font-weight: 350;
    color: black;
    margin: 15px 0;
}
.answerShow ul li{
    list-style: none;
    font-size: 20px;
}
@media screen and (max-width: 3250px) {


    .answerShow ul {
        font-size: 20px;
    }
}
@media screen and (max-width: 1800px) {


    .answerShow ul {
        font-size: 18px;
    }
}
@media screen and (max-width: 1400px) {


    .answerShow ul {
        font-size: 16px;
    }
}

@media screen and (max-width: 760px) {
    .questionItem p {
        font-size: 20px;
    }
    #answerTitle{
        font-size: 15px;
    }
    #answerInfo{
        font-size: 15px;
    }
    .answerShow ul li{
        font-size: 15px;
    }
}