.container{
    /*!*height: 135vh;*!*/
    /*min-height: 100vh;*/
    /*background: linear-gradient(172deg, #111F28 74%, white 50%);*/
}
.backgroundLayer {
    width: 100%;
    height: 100%;
}

.topSection {
    height: 300px;
    background-color: #111F28;
    /*border-radius: 50px 50px 0 0;*/
}

.photoSection {
    height: 75%;
    background-color: #111F28;

    background-image: url("../../../assets/image/bg-image-2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.photoSection img {
    max-width: 100%;
    max-height: 100%;
}

.bottomSection {
    height: 30%;
    background-color: #FFFFFF;
    clip-path: polygon(0 66%, 100% 7%, 100% 100%, 0% 100%);
    position: relative;
    top: -20%;
}

.container img{
    width: 100%;
    object-fit: cover;
    /*height: 220vh;*/
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 110px 20px 50px 20px;
}
.title h3{
    color: var(--text-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
}

.title p{
    color: var(--text-color);
    font-size: 20px;
    font-weight: 350;
    text-align: center;
    margin-top: 30px;
}

.shapesContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1440px;
}
.square1 {
    clip-path: polygon(0% 0%, 100% 0%, 91% 100%, 0% 100%);
    width: 461px;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 5px 0 0;
    height: 273px;
}
.square2 {
    clip-path: polygon(9% 0, 100% 0, 91% 100%, 0% 100%);
    width: 515px;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 5px 0 5px;
    height: 273px;
}
.square3 {
    clip-path: polygon(9% 0, 100% 0, 100% 100%, 0% 100%);
    width: 461px;
    background-color: #ffffff;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 0 5px;
    height: 273px;
}

.square1 h3,.square2 h3,.square3 h3 {
    position: relative;
    text-align: center;
    color: var(--main-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;

}


.square1 p,.square2 p,.square3 p{
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    text-align: center;
}


.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 28px;
    border-radius: 8px;
    height: 52px;
    width: 233px;
    padding-top: 2px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 1rem var(--main-color);
    transition: .5s ease;
    position: relative;
}
.btn:hover{
    box-shadow: none;
}


@media screen and (max-width: 940px) {
    .square1, .square3 {
        width: 246px;
        height: 191px;
    }
    .square2{
        width: 274px;
        height: 191px;
    }
    .shapesContainer h3 {
        font-size: 25px;
    }
    .shapesContainer p {
        font-size: 15px;
    }
    .btn{
        width: 124px;
        height: 28px;
        font-size: 15px;
    }
    .square1, .square2, .square3 {
        padding: 14px;
        justify-content: center;
    }
}


@media screen and (max-width: 760px) {

    .shapesContainer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
    .square1, .square2, .square3{
        clip-path: polygon(9% 0, 100% 0, 91% 100%, 0% 100%);
        border-radius: 0;
        width: 90%;
        margin: 10px 0;
    }
    .container{
        min-height: 100vh;
        height: auto;
    }
    .square1, .square2, .square3{
        clip-path: none;
        border-radius: 8px;
        width: 250px;
        height: 191px;
    }
    .bottomSection {
        display: none;
    }
    .topSection{
        height: 191px;
    }
    .title {
        padding: 54px 10px 30px 10px;
    }
    .title p{
        font-size: 15px;
        margin-top: 4px;
    }
}
/*@media screen and (max-width: 1300px) {*/

/*    .square1 h3, .square2 h3, .square3 h3{*/
/*        font-size: 40px;*/
/*    }*/
/*    .square1 p,.square2 p, .square3 p{*/
/*        font-size: 18px;*/
/*    }*/
/*    .btn{*/
/*        font-size: 18px;*/
/*        width: 180px;*/
/*    }*/
/*}*/

/*@media screen and (max-width: 874px) {*/
/*    .square1 h3,.square2 h3, .square3 h3{*/
/*        font-size: 30px;*/
/*    }*/
/*    .square1 p,.square2 p, .square3 p{*/
/*        font-size: 14px;*/
/*    }*/
/*    .btn{*/
/*        font-size: 16px;*/
/*        width: 160px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 720px) {*/
/*    .square1 h3,.square2 h3, .square3 h3{*/
/*        font-size: 28px;*/
/*    }*/
/*    .square1 p,.square2 p, .square3 p{*/
/*        font-size: 13px;*/
/*    }*/
/*    .btn{*/
/*        font-size: 14px;*/
/*        width: 140px;*/
/*    }*/
/*}*/
/*@media screen and (max-width: 620px) {*/
/*    .shapesContainer{*/
/*        flex-direction: column;*/
/*        width: 100%;*/
/*        align-items: center;*/
/*    }*/
/*    .square1, .square2, .square3{*/
/*        clip-path: polygon(9% 0, 100% 0, 91% 100%, 0% 100%);*/
/*        border-radius: 0;*/
/*        width: 90%;*/
/*        margin: 10px 0;*/
/*    }*/
/*    .container{*/
/*        min-height: 100vh;*/
/*        height: auto;*/
/*    }*/
/*    .square1, .square2, .square3{*/
/*        clip-path: none;*/
/*        width: 67%;*/
/*        border-radius: 15px;*/
/*    }*/
/*    .bottomSection {*/
/*        display: none;*/
/*    }*/

/*}*/

/*@media screen and (max-width: 860px){*/
/*    !*.container{*!*/
/*    !*    height: 115vh;*!*/
/*    !*}*!*/
/*!*.bottomSection{*!*/
/*!*    height: 21%;*!*/
/*!*}*!*/
/*    .photoSection{*/
/*        height: 57%;*/
/*    }*/
/*}*/

/*@media screen and (min-height: 1000px) {*/
/*    .bottomSection{*/
/*        height: 45%;*/
/*        top: -43%;*/
/*    }*/
/*    .container{*/
/*      height: 100vh;*/
/*    }*/
/*    .topSection{*/
/*        height: 33%;*/
/*    }*/
/*}*/