.container{
    /*!*height: 135vh;*!*/
    height: 1620px;
    /*min-height: 100vh;*/
    /*background: linear-gradient(172deg, #111F28 74%, white 50%);*/
    position: relative;
    top: -37px;
}
.backgroundLayer {
    width: 100%;
    height: 100%;
}

.topSection {
    height: 254px !important;
    background-color: #111F28;
    height: 210px;
    border-radius: 31px 31px 0 0;
}

.photoSection {
    /* height: 75%; */
    /* background-color: #111F28;
    height: 1232px;
    background-image: url("../../../assets/image/bg-image-2-v2.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
    background-image: url("../../../assets/image/bg-image-2-v2.svg");
    height: 1180px;
    background-color: #111F28;
    background-position: 4% 149px;
    background-repeat: no-repeat;
    display: flex;
    background-size: cover;
    gap: 30px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.photoSection img {
    max-width: 100%;
    max-height: 100%;
}

.bottomSection {
    height: 30%;

        clip-path: polygon(0 82%, 100% 52%, 100% 100%, 0% 100%);
        background-color: white;

    position: relative;
    top: -20%;
}

.container img{
    width: 100%;
    object-fit: fill;
    /*height: 220vh;*/
}
.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 105px 20px 50px 20px;
}
.title_mob{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 105px 20px 50px 20px;
}
.title h3{
    color: var(--text-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 65px;
    font-variation-settings: 'wght' 700 , 'wdth' 75;
}
.title_mob h3{
    color: var(--text-color);
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0px;
    line-height: 0px;
    font-variation-settings: 'wght' 700 , 'wdth' 75;
    position: relative;
    top: -18px;
}
.title :nth-child(2){
    color: var(--text-color);
    font-size: 20px;
    font-weight: 350;
    text-align: center;
    margin-top: 5px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    line-height: 24px;
}
.title :nth-child(3){
    color: var(--text-color);
    font-size: 20px;
    font-weight: 350;
    text-align: center;
    margin-top: 5px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    line-height: 14px;
}
.title_mob :nth-child(2){
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    text-align: center;
    margin-top: 5px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    line-height: 0px;
    position: relative;
    top: 25px;
}
.title_mob :nth-child(3){
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    text-align: center;
    margin-top: 5px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    line-height: 0px;
    position: relative;
    top: 37px;
}
.title_mob :nth-child(4){
    color: var(--text-color);
    font-size: 15px;
    font-weight: 350;
    text-align: center;
    margin-top: 5px;
    font-variation-settings: 'wght' 350 , 'wdth' 88;
    line-height: 0px;
    position: relative;
    top: 50px;
}
.shapesContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: stretch;
    max-width: 1440px;
    margin-top: 28px;
}
.square1 {
    clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    width: 461px;
    background-color: #ffffff;
    padding: 41px 45px 41px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 0 0;
    height: 273px;
}
.square1_tab{
    clip-path: polygon(0% 0%, 100% 0%, 92% 100%, 0% 100%);
    width: 246px;
    height: 191px;
    background-color: #ffffff;
    padding: 28px 37px 22px 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 0 0;
}
.square2 {
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    width: 515px;
    background-color: #ffffff;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 0 5px;
    height: 273px;
}
.square2_tab{
    clip-path: polygon(7% 0, 100% 0, 93% 100%, 0% 100%);
    width: 275px;
    background-color: #ffffff;
    padding: 28px 30px 22px 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 0 5px 0 5px;
    height: 191px;
}
.square3 {
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    width: 461px;
    background-color: #ffffff;
    padding: 40px 30px;
    display: flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0 5px;
    height: 273px;
}
.square3_tab {
    clip-path: polygon(8% 0, 100% 0, 100% 100%, 0% 100%);
    width: 246px;
    background-color: #ffffff;
    padding: 28px 25px 22px 28px;
    display: none;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 0 5px;
    height: 191px;
}
.square1 h3,.square2 h3,.square3 h3 {
    position: relative;
    text-align: center;
    color: var(--main-color);
    font-size: 50px;
    margin-bottom: 15px;
    font-variation-settings: 'wght' 700 , 'wdth' 75;
}
.square1_tab h3,.square2_tab h3,.square3_tab h3 {
    color: var(--main-color);
    font-size: 25px;
    font-variation-settings: 'wght' 700 , 'wdth' 75;
  }

.square1 :nth-child(2){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 400;
    line-height: 13px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
}
.square1 :nth-child(3) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 34px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
}
.square1_tab :nth-child(2){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 5px;
}
.square1_tab :nth-child(3) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 0;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 6px;
}
.square1_tab :nth-child(4) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 31px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 8px;
}
.square2 :nth-child(2){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 9px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 0px;
}
.square2 :nth-child(3) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 38px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
}
.square2_tab :nth-child(2) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 7px;
    left: 2px;
}
.square2_tab :nth-child(3) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 0;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 9px;
    left: 1px;
}
.square2_tab :nth-child(4) {
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 12px;
    left: 1px;
}
.square3 :nth-child(2){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    line-height: 7px;
    padding-left: 23px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
}
.square3 :nth-child(3){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 20px;
    font-weight: 350;
    padding-left: 23px;
    line-height: 40px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
}
.square3_tab :nth-child(2){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: 8px;
    left: 6px;
}
.square3_tab :nth-child(3){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 32px;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: -6px;
    left: 6px;
}
.square3_tab :nth-child(4){
    position: relative;
    color: rgba(17, 31, 40, 1);
    font-size: 15px;
    font-weight: 350;
    line-height: 0;
    text-align: center;
    font-variation-settings: 'wght' 400 , 'wdth' 88;
    top: -5px;
    left: 6px;
}
.square1 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 28px;
    border-radius: 8px;
    height: 52px;
    width: 233px;
    padding-top: 4px;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    left: -1px;
    transition: ease .4s;
}
.square1_tab .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    padding-top: 4px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    height: 28px;
    width: 124px;
    font-size: 14.9px;
    border-radius: 4px;
}
.square2 .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 28px;
    border-radius: 8px;
    height: 52px;
    width: 233px;
    padding-top: 4px;
    margin-top: 7px;
    cursor: pointer;
    position: relative;
    transition: ease .4s;
}
.square2_tab .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    padding-top: 4px;
    cursor: pointer;
    position: relative;
    height: 28px;
    width: 124px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 1px;
    top: 10px;
    left: 1px;
}
.square3 .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    font-size: 28px;
    border-radius: 8px;
    height: 53px;
    width: 234px;
    margin-left: 23px;
    padding-top: 3px;
    margin-top: 9px;
    cursor: pointer;
    position: relative;
    transition: ease .4s;
}

.square3_tab .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
    color: var(--text-color);
    font-weight: 600;
    padding-top: 4px;
    cursor: pointer;
    position: relative;
    height: 28px;
    width: 124px;
    font-size: 15px;
    border-radius: 4px;
    margin-top: 1px;
    top: 10px;
    left: 6px;
    transition: ease .4s;
}
.square1 .btn:hover, .square2 .btn:hover,.square3 .btn:hover{
    transform: translateY(1px);
    -webkit-box-shadow: 0px 0px 23px -10px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0px 0px 23px -10px rgba(255, 255, 255, 1) inset;
    box-shadow: 0px 0px 23px -10px rgba(255, 255, 255, 1) inset;
} 
@media screen and (max-width: 1439px) {
    .container{
        min-height: 1040px;
        height: auto;
    }
  .title h3{
    line-height: 5px;
    margin-bottom: 39px;
  }
  .title :nth-child(2){
    line-height: 27px;
  }
  .title :nth-child(3){
    line-height: 10px;
  }
  .shapesContainer {
    margin-top: 0;
    max-width: 768px;
  }
  .square1, .square2, .square3{
    display: none;
  }
  .square1_tab,  .square2_tab,  .square3_tab {
   display: flex;
  }
  .photoSection{
    height: 726px;
    background-position: 0% 138px;
    /* background-image: url("../../../assets/image/bg-image-2-v2-tab.svg"); */
  }
}
@media screen and (max-width: 760px) {

    .shapesContainer{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }
   
 
    .square1, .square2, .square3{
        clip-path: none;
        border-radius: 8px;
        width: 250px;
        height: 191px;
    }
    .bottomSection {
        display: none;
    }
    .topSection{
        height: 214px !important;
    }
    .title {
       display: none;
    }
    .title_mob{
      display: flex;
    }
   .square1_tab {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 250px;
    height: 191px;
    background-color: #ffffff;
    padding: 28px 37px 22px 28px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;;
    top: -4px;
   }
   .square2_tab {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 250px;
    height: 191px;
    background-color: #ffffff;
    padding: 28px 29px 22px 19px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    top: 16px;
   }
   .square3_tab {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    width: 250px;
    height: 191px;
    background-color: #ffffff;
    padding: 28px 37px 22px 28px;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    position: relative;
    top: 36px;
   }
   .square1_tab h3, .square2_tab h3{
    position: relative;
    left: 4px;
    top: -2px;
   }
   .square3_tab h3{
    position: relative;
    left: -1px;
    top: -2px;
   }
   .square1_tab :nth-child(2) {
    left: 4px;
   }
   .square1_tab :nth-child(3) {
    top: 5px;
    left: 4px;
   }
   .square1_tab :nth-child(4) {
    top: 7px;
    left: 4px;
   }
  .square1_tab .btn{
    top: -1px;
    left: 3px;
  }
  .square2_tab :nth-child(2){
    top: 6px;
    left: 4px;
  }

  .square2_tab :nth-child(3){
    top: 8px;
    left: 4px;
  }
  .square2_tab :nth-child(4){
    top: 10px;
    left: 4px;
  }
 .square2_tab .btn{
    top: 9px;
    left: 4px;
 }
 .square3_tab :nth-child(2){
    top: 5px;
    left: 4px;
  }
  .square3_tab :nth-child(3){
    top: -8px;
    left: 4px;
  }
  .square3_tab :nth-child(4){
    top: -6px;
    left: 4px;
  }
.square3_tab .btn{
    top: 9px;
    left: 3px;
}
.photoSection{
    height: 2080px;
}
}
