@import url('https://fonts.googleapis.com/css2?family=Pangolin&family=RocknRoll+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bahnschrift", sans-serif;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}
:root {
    --text-color : #fff;
    --main-color: #ea5521;
}

.no-scroll {
    overflow: hidden;
}
